{{#if peerId || messages.length > 0}}
  RoomID: {{peerId}}<br />
{{/if}}
Messages: <br />
{{#each messages}}
  {{.}}<br />
{{/each}}
<br /><br />
Peers: <br />
{{#each peers}}
  {{id}}<br />
{{/each}}
<br /><br />
Message: <input type="text" on-keydown="text" value="{{message}}" />

<select id="selectedPeer">
  <option value="" disabled>No peer selected</option>
  {{#each peers}}
    <option value="{{id}}">{{id}}</option>
  {{/each}}
</select>
<input on-change="fileSelected" type="file" id="fileinput" value="Select file" />

{{#if transferPercentage !== 0}}
  <div style="height: 20px;width:{{Math.round(transferPercentage)}}%;background:green;"></div>
{{/if}}

{{#each files}}
  File: <a href="{{href}}" download="{{name}}">{{name}}</a>
{{/each}}
