<div class="pure-u-1 pure-u-xl-2-3 chat-wrapper">
  {{#each peers}}
    <div class="peer-container">
      <div class="id">{{id}}</div>
      <div class="buttons">
        <label on-click="mute:{{id}}"><i class="ion-ios-mic-outline"></i></label>
        <label on-click="chat:{{id}}"><i class="ion-ios-chatboxes-outline"></i></label>
        <input on-change="fileSelected:{{id}}" type="file" id="fileupload{{id}}" value="Select file" />
        <label for="fileupload{{id}}"><i class="ion-ios-cloud-upload-outline"></i></label>
      </div>
    </div>
  {{/each}}
  {{#if transferPercentage !== 0}}
    <div style="height: 20px;width:{{Math.round(transferPercentage)}}%;background:green;"></div>
  {{/if}}

  {{#each files}}
    File: <a href="{{href}}" download="{{name}}">{{name}}</a>
  {{/each}}
</div>
