<!--<div class="message-wrapper pure-u-1 pure-u-lg-1-5">
  <div class="message-content">
    <div class="chat-entry-other"> hello! </div>
    <div class="chat-entry-you"> hi! </div>
  </div>

  <input type="text" class="text" placeholder="Message..."/>
</div>
-->
<div class="pure-g peers-wrapper">
<div class="pure-u-1 pure-u-lg-1-3 chat-wrapper">
  <div class="you-container">
    You <input on-keyup="nickTyped" type="text" value="{{peerId}}" />
  </div>
  {{#if peers.length === 0}}
    <h2>No other peers connected</h2>
  {{/if}}
  {{#each peers}}
    <div class="peer-container">
      {{#if transferPercentage && transferPercentage !== 0 }}
        <div style="width:{{transferPercentage}}%;" class="upload-bar"></div>
      {{/if}}

      <div class="id"> {{nick || id}} </div>
      <div class="buttons">
        <label on-click="mute:{{id}}"><i class="ion-ios-mic-outline"></i></label>
        <label for="fileupload{{id}}"><i class="ion-ios-cloud-upload-outline"></i></label>
        <input on-change="fileSelected:{{id}}" type="file" id="fileupload{{id}}" value="Select file" />
      </div>
      <div class="upload-container">
      {{ #if transferPercentage && transferPercentage !== 0 }}
        <div class="upload-text">
          Downloading file {{ fileData.name }}
        </div>
      {{/if}}
      {{#each files}}
        <div class="upload-text">
          <a href="{{href}}" download="{{name}}">{{name}} <i class="ion-android-arrow-down icon"></i></a>
        </div>
      {{/each}}
      </div>
    </div>
  {{/each}}
</div>
<div class="message-wrapper pure-u-lg-1-3">
  <div id="chat" class="message-box">
  {{#each messages}}
    <div class="message-entry">
      <b><i class="ion-record" style="padding-right:1em;color:#bbb;"></i>{{nick}}</b>
      <div class="message-timestamp">{{ getTimeStamp() }}</div>
      <div class="message-text">
        {{{message}}}
      </div>
    </div>
  {{/each}}
  </div>
  <br />
  <input class="message-input" on-keyup="text" type="text" value="{{message}}" placeholder="Enter to send..." />
  </div>
</div>
