.peers-wrapper {
    background: url('nodes.png') no-repeat;
    background-position: left bottom;
    background-size: 100%;
  background-color: #ECF0F1;
  min-height: 100vh;

}

.peers-wrapper * {
  font-weight: 300;
}

.peers-container {
  padding: 2em;
}

.peer .nick-input {
  width: 80%;
  background-color: #ECF0F1;
}

.peer .buttons input[type="file"] {
  display: none;
}

.peers-container h1 {
  padding-top: 1.65em;
  color: #2C3E50;
  font-family: 'Work Sans', sans-serif;
}

.peers-container .back-btn {
  border: 2px solid #2C3E50;
  padding: 0.5em 2em 0.8em 1em;
  background: none;
  color: #2C3E50;
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  border-radius: 5px;
}

.peers-container .back-btn:focus {
  outline: 0;
}

.peers-container .back-btn:hover {
  background-color: #2C3E50;
  color: #ECF0F1;
}

.peers-container .back-btn > i {
  font-size: 1.5em;
  position: relative;
  bottom:-.15em;
  padding-right:0.5em;
}

.peer {
  width: 100%;
  display:block;
  margin: 2.2em 0;
  border-bottom: 1px solid #2C3E50;
}

.peer .id > input[type="text"] {
  font-style: 'Work Sans', sans-serif;
  padding: 0.1em 0.1em;
  width: 80%;
  background-color: #ECF0F1;
  border: 1px solid #333;
  float: right;
}

.peer > * {
  display: inline-block;
  color: #2C3E50;
}

.peer .id {
  font-size: 1.4em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 0.3em;
}

.peer .buttons {
  float:right;
  font-size: 2em;
  position: relative;
  top: -0.1em;
}

.peer .buttons i:hover {
  color: #E74C3C;
  cursor: pointer;
}

.download-link {
  display:block;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}

.download-bar {
  height:5px;
  background-color:#E74C3C;
  margin: 0;
}

.download-text {
  font-family: 'Work Sans', sans-serif;
  display: block;
  width: 100%;
  color: #2C3E50;
  padding-top:5px;
}

.chat-wrapper {
  min-height: 100vh;
  background-color: #2C3E50;
}

.chat-wrapper * {
  font-weight: 300;
}

.chat-container h1 {
  padding-top: 1em;
  color: #ECF0F1;
  font-family: 'Work Sans', sans-serif;
  border-bottom: 1px solid #ECF0F1;
  padding-bottom: 0.5em;
}

.chat-container {
  display: block;
  margin: 0 auto;
}

.chat-box {
  height: 50vh;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-box .chat-start-message {
  padding: 1.5em 0 0.5em 0;
  color: #2980B9;
}

.message-container {
  margin: 1em 0.5em 1em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #2C4D63;
}

.message-container * {
  font-family: 'Work Sans', sans-serif;
}

.message-container .icon {
  display: inline-block;
  font-size: 2.4em;
  color: #ECF0F1;
  /*width: 30px;
  height: 30px;
  background: url('messageicon.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
}

.message-container .id {
  display: inline-block;
  position: relative;
  top: -0.5em;
  color: #ECF0F1;
  font-weight: bold;
  padding-left: 1em;
}

.message-container .timestamp {
  float: right;
  position: relative;
  bottom: -0.5em;
  color: #3498DB;
}

.message-container .message {
  padding-left: 3.2em;
  color: #ECF0F1;
}

.message-input {
  width: 97.5%;
  margin-top: 0.5em;
  background-color: rgba(255,255,255,.7);
  border: 1px solid #0B2434;
  border-radius: 5px;
  padding: 0.5em;
  color: #333;
}

.message-input:focus {
  outline: none;
}

.footer {
  color: #0D2636;
  text-align: right;
  margin-top: -3em;
  height: 3em;
  padding-right: 1em;
}

.footer i {
  font-size: 2em;
  position: relative;
  bottom: -0.15em;
}

.footer i:hover {
  color: #ECF0F1;
}

.footer a {
  color: #0D2636;;
}

.logo-text {
  padding-bottom: .5em;
  color: #eee;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
}

.logo-wrapper {
  text-align: right;
  margin-left: -1em;
  margin-top: 1em;
  height: 100px;
}

/* BEGIN LOGO ANIMATION */
@keyframes bar-1 {
  0%   { height: 50px; margin-top:0px; }
  50%   { height: 40px; margin-top:5px;}
  100%   { height: 50px; margin-top:0px;}
}

@keyframes bar-2 {
  0%   { height: 80px; margin-top:0px; }
  50%   { height: 50px; margin-top:15px;}
  100%   { height: 80px; margin-top:0px;}
}

@keyframes bar-3 {
  0%   { height: 100px; margin-top:0px; }
  50%   { height: 60px; margin-top:20px;}
  100%   { height: 100px; margin-top:0px;}
}

@keyframes bar-4 {
  0%   { height: 40px; margin-top:0px; }
  50%   { height: 30px; margin-top:5px;}
  100%   { height: 40px; margin-top:0px;}
}

.bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
  display: inline-block;
  margin-left: .2em;
  margin-right: .2em;
  background: white;
  width: 5px;
  border-radius: 10px;
  position: relative;
}

.bar-1 {
  top: -20px;
  animation: ease-in-out bar-1 10s infinite;
}

.bar-2 {
  top:-5px;
  animation: ease-in-out bar-2 8s infinite;
}


.bar-3 {
  animation: ease-in-out bar-3 12s infinite;
}

.bar-4 {
  top: -30px;
  margin-right: 1.9em;
  animation: ease-in-out bar-4 15s infinite;
}

.bar-5 {
  top:-5px;
  animation: ease-in-out bar-2 11s infinite;
}


/* END LOGO ANIMATION */


/* Chat scroll style */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: none;
}

@media screen and (max-width: 80em) {
  .peers-container {
    padding: 1em;
  }

}

@media screen and (max-width: 64em) {
  .peer .id {
    font-size: 1em;
    padding-bottom: 0.5em;
  }

  .peers-container h1 {
    font-size: 1.4em;
  }


}

@media screen and (max-width: 32em) {


}
