

.chat-wrapper {
    display: block;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    padding: 5em 0;
    text-align: center;
}

.chat-wrapper * {
    font-family: 'Work Sans', sans-serif;
}

.peer-container, .you-container {
    display: block;
    background-color: #2C3E50;
    margin: 0.5em auto;
    border-radius: 3px;
    max-width: 740px;
}

.you-container {
    background-color: #3498DB;
    padding: 1em 0;
    color: white;
}

.you-container input {
    float: left;
    width:85%;
    border:1px solid #0F75B9;
    padding: 0.1em 0.2em;
    background: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    margin: -0.37em 0.37em;
}

.peer-container .id {
    float: left;
    padding: 0.7em 0.5em;
    font-size: 1.3em;
    color: white;
}

.peer-container .buttons {
    padding: 0.5em 1em;
    float: right;
}

.peer-container label {
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    display:inline-block;
    padding-left:0.3em;
}

.peer-container label:hover {
    color: #E74C3C;
    cursor: pointer;
}

.peer-container input[type="file"] {
  display: none;
}

.peer-container .upload-bar {
    color: white;
    height:5px;
    margin-bottom: -5px;
    background: #E74C3C;
}

.peer-container .upload-container {
    clear: both;
    width: 100%;
    color: white;
}

.peer-container .upload-text {
    padding: 0.3em;
}

.peer-container .upload-text a {
    color: white;
    text-decoration: none;
}

.peer-container .upload-text a:hover {
    color: #3498DB;
    text-decoration: none;
}

.peer-container .upload-text .icon {
    padding-left: 0.2em;
    font-size: 1.1em;
    position: relative;
    top: 0.2em;
}

.message-wrapper {
  text-align: left;
  min-height: 300px;
  max-height:300px;
  max-width: 705px;
  overflow-y: scroll;
  padding:1em;
  border:1px solid gray;
  margin: 1em auto;
  border-radius: 5px;
  width:66%;
}

.message-input {
  width: 80%;
  max-width: 720px;
  padding: 0.8em;
  border: 1px solid gray;
  border-radius: 4px;
}

/*
@media (max-width: 48em) {
    .message-wrapper {
        height:50vh;
    }
}
*/
